.nv{
    background-color: rgb(237, 255, 237);
}

.banner-image{
    background-image: url(banner-img.jpg);
    background-size: cover;
}

.product{
    background-image: url("un.jpg");
    background-size: cover;
    height: 110vh;
    
}
.product2{
    background-image: url("third-bnr.jpg");
    background-size: cover;
    height: 100vh;
    
}


.para{
    text-align: justify;
    color: rgb(58, 55, 55);
}



.text-all{
    float: right;
    color:  #ffcd17;
    margin-top: 15px;
}

.card-title, .card-text, .h{
    text-align: center;
}

.btn2{
    text-align: center;
}